Package: dovecot-lucene
Source: dovecot
Version: 1:2.2.19-0c~trusty
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 788
Depends: libc6 (>= 2.4), libclucene-core1 (>= 2.3.3.4), libexttextcat-2.0-0 (>= 2.2-8), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.1.1), libstemmer0d (>= 0+svn527), dovecot-core (= 1:2.2.19-0c~trusty)
Section: mail
Priority: optional
Homepage: http://dovecot.org/
Description: secure POP3/IMAP server - Lucene support
 Dovecot is a mail server whose major goals are security and extreme
 reliability. It tries very hard to handle all error conditions and verify
 that all data is valid, making it nearly impossible to crash. It supports
 mbox/Maildir and its own dbox/mdbox formats, and should also be pretty
 fast, extensible, and portable.
 .
 This package provides Lucene full text search support for Dovecot.
Original-Maintainer: Dovecot Maintainers <jaldhar-dovecot@debian.org>
